* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 20, 42);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill {
    margin: 10px;
    width: 250px; /* Modificado */
    height: 250px; /* Modificado */
    position: relative;
}

.outter {
    height: 250px; /* Modificado */
    width: 250px; /* Modificado */
    padding: 40px; /* Ajustado proporcionalmente */
    box-shadow: 8px 8px 14px -1px rgba(96, 206, 254, 0.15),
                -8px -8px 14px -1px rgba(12, 20, 42, 0.7); /* Ajustado proporcionalmente */
    border-radius: 50%;
}

.inner {
    height: 170px; /* Ajustado proporcionalmente */
    width: 170px; /* Ajustado proporcionalmente */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 6px 6px 10px -1px rgba(96, 206, 254, 0.2),
                inset -6px -6px 10px -1px rgba(12, 20, 42, 0.7),
                -0.75px -0.75px 0px rgba(12, 20, 42, 1),
                0.75px 0.75px 0px rgba(12, 20, 42, 0.15),
                0px 15px 12px -12px rgba(96, 206, 254, 0.05); /* Ajustado proporcionalmente */
}

.med {
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 38px; /* Ajustado proporcionalmente */
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 40px; /* Ajustado proporcionalmente */
    stroke-dasharray: 660; /* Ajustado proporcionalmente */
    stroke-dashoffset: 660;
    animation: 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

        
.toggle-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 150px;
    height: 150px;
}

.toggle-label {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* color del texto */
    font-size: 28px; /* tamaño de fuente */
    text-align: center; /* alineación del texto */
}


input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"]:not(:checked) + .toggle-label {
    background-color: rgb(27, 53, 80);
    transform: scale(1.1);
}

input[type="checkbox"]:checked + .toggle-label {
    background-color: #0288d1;
    color: transparent;
    box-shadow: inset -25px 10px 0px -10px #03a9f4;
}

.formRiego{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 350px;
}

.formRiego .modo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    width: 80px;
    height: 50px;
}
.formRiego input[type="number"]{
    border-radius: 10px;
    text-align: end;
    height: 52px;
    width: 60px;
    margin: 0 10px;
    padding: 0 10px;
    background-color: rgb(27, 53, 80);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
}

.formRiego input[type="number"]::-webkit-outer-spin-button,
.formRiego input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.dropdown{
    position: relative;
    background-color: rgb(12, 20, 42);
    width: 80px;
    height: 50px;
}

.dropdown::before{
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
}

.dropdown.active::before{
    color: white;
}

.dropdown input[readonly]::placeholder{
    color: rgb(172, 172, 172);
}

.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(27, 53, 80);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    box-shadow: 6px 4px 4px -4px rgba(96, 206, 254, 0.15);
    padding: 12px 20px;
    border-radius: 10px;
}
.dropdown .option{
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: rgb(27, 53, 80);
    box-shadow: 0 30px 30px rgba(96, 206, 254, 0.15);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .option{
    display: block;
}

.dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover{
    background: #176086;
    color: white;
}

.flecha {
    margin: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Ancho del triángulo */
    border-right: 10px solid transparent; /* Ancho del triángulo */
    border-bottom: 20px solid #03a9f4; /* Altura y color del triángulo */
    transform: rotate(90deg);
}
.HoraProgramada{
    color: white;
    font-size: 20px;
    overflow: hidden;
    display: none;
}
.formRiego.Programado .modo, .formRiego.Programado .duration, .formRiego.Programado .dropdown, .formRiego.Programado .flecha{
    overflow: hidden;
    display: none;
}

.formRiego.Programado .HoraProgramada{
    overflow: visible;
    display: block;
}

.microfono{
    margin-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.mic {
    box-sizing: border-box;
    position: absolute;
    display: block;
    transform: scale(var(--ggs,1));
    width: 32px;
    height: 24px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 2px solid;
    border-color: white;
    border-top: 0;
    margin-top: 3px;
    margin-right: 30px;
    
}

.mic::after,
.mic::before {
    
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.mic::after {
    border: 2px solid white;
    width: 16px;
    height: 32px;
    left: 6px;
    top: -14px;
    border-radius: 10px
}

.mic::before {
    width: 20px;
    height: 15px;
    top: 18px;
    left: 3px;
    border-right: 9px solid transparent;
    box-shadow:
    0px 2px white,
    inset -2px 0 white;
} 

.olas{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100px;
    height: 100px;
    background: #0d2953;
    border-radius: 60px;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.olas::before, .olas::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.microfono .olas .ola{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: url(images/wave.png);
    background-size: 300px 40px;
    overflow: hidden;
    display: none;
}

.olas .ola.ola1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.olas .ola.ola3{
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 8px;
}

@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 300px;
    }
}

.olas .ola.ola4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 12px;
}

.olas .ola.ola2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 5px;
}

@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -300px;
    }
}

.microfono.grabando .olas .ola{
    display: block;
}

.microfono.grabando .mic{
    display: none;
}

.microfono.grabando .olas{
    width: 400px;
    transition: width 0.3s ease-in-out;
}
